body {
    background-image: url('https://cdn.wallpapersafari.com/92/43/epa9ZP.jpg');
    background-size: contain;
}

.transparentbg {
    background-color: #ffffff00;
}

.bloglistbg {
    background-color: #fff8f3;
    border-radius: 15px;
}

.hiddEle {
    opacity: 0;
    transform: translateX(10%);
    transition: ease-in-out 250ms;
}

.hiddEle1 {
    opacity: 0;
    transform: translateX(-10%);
    transition: ease-in-out 250ms;
}

.showEle {
    opacity: 1;
    transform: translate(0%);
}

.decorate::first-letter {
    font-size: 4rem;
    font-weight: bold;
    font-family: cursive;
}

.unselect {
    user-select: none;
    -moz-user-select: none;
    -khtml-user-select: none;
    -webkit-user-select: none;
    -o-user-select: none;
}

.otro-blockquote {
    font-style: italic;
    padding: 1.2em 30px 1.2em 75px;
    line-height: 1.6;
    position: relative;
}

.otro-blockquote::before {
    font-family: Arial;
    content: "\201C";
    font-size: 4em;
    position: absolute;
    left: 10px;
    top: -10px;
}

.otro-blockquote::after {
    content: '';
}

.otro-blockquote span {
    display: block;
    font-style: normal;
    font-weight: bold;
    margin-top: 1em;
}